venv
data/ChineseDBQA
.idea
data/word2vec
data/wikiQA
data/input
data/models
data/TFIDF_input
flask-backend/data
__pycache__
Logistic_Regression
WikiQACodePackage
BiDAF/.vector_cache
BiDAF/inputs
BiDAF/logs
BiDAF/outputs
BiDAF/saved_models
BiDAF/vocabs